// stylelint-disable selector-max-type

@import '../helpers/scrollbar';

// =============================================================================
// ^MAIN
// =============================================================================

// -----------------------------------------------------------------------------
// Root
// -----------------------------------------------------------------------------

:root {}

// -----------------------------------------------------------------------------
// HTML
// -----------------------------------------------------------------------------

html {
  @include ekzo-theme() {
    @include scrollbar(
      $color: ekzo-theme('scrollbar'),
      $hover-color: ekzo-theme('scrollbar-hover'),
      $active-color: ekzo-theme('scrollbar-active'),
      $track-color: ekzo-theme('scrollbar-track')
    );
  }
}

// -----------------------------------------------------------------------------
// Body
// -----------------------------------------------------------------------------

body {}