// =============================================================================
// ^SETTING.THEMES
// =============================================================================

$iron: #cdcfd3;

$ekzo-colors: (
  // #6443ab
  primary: #27fe56,
  secondary: kotsu-theme-color(),
  white: #fff,
  iron: $iron,
  iron50: rgba($iron, .5),
  black-30: rgba(#000, .3)
);

@include ekzo-extend-themes(base, (

  // -----------------------------------------------------------------------------
  // Background
  // -----------------------------------------------------------------------------

  bg:                    ekzo-color(secondary),

  scrollbar: rgba(ekzo-color(iron), .6),
  scrollbar-hover: rgba(ekzo-color(iron), .7),
  scrollbar-active: rgba(ekzo-color(iron), .8),
  scrollbar-track: transparent,

  // -----------------------------------------------------------------------------
  // Text
  // -----------------------------------------------------------------------------

  text:                   ekzo-color(iron),

  // -----------------------------------------------------------------------------
  // Links
  // -----------------------------------------------------------------------------

  links:                  ekzo-color(white),
  links-hover:            ekzo-tint(ekzo-color(primary), 20),

  // -----------------------------------------------------------------------------
  // Headings
  // -----------------------------------------------------------------------------

  headings:               ekzo-color(white),
  extra-headings:         null,

  // -----------------------------------------------------------------------------
  // Selection
  // -----------------------------------------------------------------------------

  selection:              ekzo-color(white),
  selection-bg:           ekzo-color(primary),

  // -----------------------------------------------------------------------------
  // Code
  // -----------------------------------------------------------------------------

  code:                  ekzo-shade(ekzo-color(iron), 10),
  code-bg:               ekzo-color(black-30),

  // -----------------------------------------------------------------------------
  // Forms
  // -----------------------------------------------------------------------------

  forms:                  ekzo-color(iron),
  forms-placeholder:      ekzo-tint(ekzo-color(secondary), 20),
  forms-border:           rgba(ekzo-color(iron), .3),
  forms-bg:               ekzo-color(secondary),

  // -----------------------------------------------------------------------------
  // Horizontal line
  // -----------------------------------------------------------------------------

  hr:                     ekzo-tint(ekzo-color(secondary), 10),

  // -----------------------------------------------------------------------------
  // Buttons
  // -----------------------------------------------------------------------------

  btn:                    ekzo-color(white),
  btn-border:             rgba(ekzo-color(primary), .5 / 2),
  btn-bg:                 null,
  btn-hover-border:       rgba(ekzo-color(primary), .5 / 4),

  // -----------------------------------------------------------------------------
  // Breadcrumb
  // -----------------------------------------------------------------------------

  nav-item: ekzo-color(iron50),
  nav-item-active: ekzo-color(iron),

  breadcrumb-links:      ekzo-color(iron),
  breadcrumb-delimiters: ekzo-tint(ekzo-color(iron), 50),

  pill: ekzo-color(iron50),
  pill-bg: #1c1f1f,

  box-border: rgba(ekzo-color(primary), .1),

  main-bg-shader: rgba(#000, .25)

))