// =============================================================================
// ^Box
// =============================================================================

.Box {
  @include ekzo-theme() {
    border-color: ekzo-theme(box-border);
  }

  border-width: 1px;

  border-radius: ekzo-border-radius('');
}
