// =============================================================================
// ^BUTTON
// =============================================================================

.Btn {
  $displacement: ekzo-space(.5);

  @extend .#{$ekzo-o-ns}btn;
  @extend .#{$ekzo-h-ns}trans--all\+;

  position: relative;

  @include ekzo-theme() {
    border-color: ekzo-theme(btn-border);
  }

  border-width: 1px;

  font-weight: 200;

  padding-top:    ekzo-em(ekzo-space(.5));
  padding-bottom: ekzo-em(ekzo-space(.5));
  padding-right:  1em;
  padding-left:   1em;

  &:hover {
    @include ekzo-theme() {
      border-color: ekzo-theme(btn-hover-border);
    }
  }

  &:after,
  &:before {
    content: '';

    position: absolute;

    border-width: 1px;

    @include ekzo-theme() {
      border-color: ekzo-theme(btn-border);
    }
  }

  &:before {
    @extend .#{$ekzo-h-ns}trans--all\+;

    top: - $displacement;
    bottom: $displacement;
    left: - $displacement;
    right: $displacement;

    @include ekzo-theme() {
      border-color: ekzo-theme(btn-border-before);
    }
  }

  &:after {
    @extend .#{$ekzo-h-ns}trans--all--delayed\+;

    top: $displacement;
    bottom: - $displacement;
    left: $displacement;
    right: - $displacement;

    @include ekzo-theme() {
      border-color: ekzo-theme(btn-border-after);
    }
  }

  &:hover:after,
  &:focus:after,
  &:hover:before,
  &:focus:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

// -----------------------------------------------------------------------------
// Sizes
// -----------------------------------------------------------------------------

@mixin ekzo-buttons-sizes ($postfix: '') {

  .Btn\+#{$postfix} {
    padding-top:    1em;
    padding-bottom: 1em;
    padding-right:  1.5em;
    padding-left:   1.5em;
  }

  // ----
  // Wide version of button

  .Btn--wide#{$postfix} {
    padding-right: 1.5em;
    padding-left:  1.5em;
  }

}

@include ekzo-for-each-breakpoint($matches: $ekzo-responsive-buttons-breakpoints, $include-self: true) {
  @include ekzo-buttons-sizes($postfix: ekzo-temp());
}
