// =============================================================================
// ^BUTTON
// =============================================================================

.Btn {
  @extend .#{$ekzo-o-ns}btn;

  @include ekzo-theme() {
    border-color: ekzo-theme(btn-border);
  }

  border-width: 1px;

  font-weight: 200;

  padding-top:    ekzo-em(ekzo-space(.5));
  padding-bottom: ekzo-em(ekzo-space(.5));
  padding-right:  1em;
  padding-left:   1em;
}

// -----------------------------------------------------------------------------
// Sizes
// -----------------------------------------------------------------------------

@mixin ekzo-buttons-sizes ($postfix: '') {

  .Btn\+#{$postfix} {
    padding-top:    1em;
    padding-bottom: 1em;
    padding-right:  1.5em;
    padding-left:   1.5em;
  }

  // ----
  // Wide version of button

  .Btn--wide#{$postfix} {
    padding-right: 1.5em;
    padding-left:  1.5em;
  }

}

@include ekzo-for-each-breakpoint($matches: $ekzo-responsive-buttons-breakpoints, $include-self: true) {
  @include ekzo-buttons-sizes($postfix: ekzo-temp());
}
