// stylelint-disable selector-max-type

// =============================================================================
// ^MAIN
// =============================================================================

.Main {
  @include ekzo-theme() {
    background-color: ekzo-theme(main-bg-shader);
  }

  p:last-child,
  ul:last-child { margin-bottom: 0; }

}
