// =============================================================================
// ^Pill
// =============================================================================

.Pill {
  display: inline-block;

  padding-left: ekzo-space() / 3;
  padding-right: ekzo-space() / 3;
  padding-top: 0;
  padding-bottom: 0;

  margin-bottom: ekzo-space(.25);

  @include ekzo-theme() {
    color: ekzo-theme(pill);
    background-color: ekzo-theme(pill-bg);
  }

  @include ekzo-font-size('--', text);

  white-space: nowrap;

  border-radius: ekzo-border-radius('--round');
}
