// =============================================================================
// ^WRAPPER
// =============================================================================

$wrapper-padding: ekzo-space();

.Wrapper {
  display: flex;

  justify-content: center;
  align-items: center;

  padding: $wrapper-padding;
  min-height: 100vh;
}

  .Wrapper__content {
    min-width: 320px;
    max-width: 1200px;

    margin-left:  auto;
    margin-right: auto;
  }

  // Allows block to standout horizontally, by being wider
  // on screens 1200px+
  .Wrapper__content--extended {
    // Multiply spacing twice, since it should give space for padding * 3
    // from both sides
    max-width: 1200px + ekzo-space(3) * 2;
  }

.Wrapper--bleed {
  margin: - $wrapper-padding;
}

// ----
// Limit to ~80 characters per line

.Wrapper--readable {
  max-width: 34em;

  margin-left:  auto;
  margin-right: auto;
}
