// =============================================================================
// ^WRAPPER
// =============================================================================

$wrapper-padding: ekzo-space(.5);
$tablet-wrapper-padding: ekzo-space();

.Wrapper {
  display: flex;

  // Auto margins used instead to center in IE
  // justify-content: center;
  align-items: center;

  padding: ekzo-space(.5);
  min-height: 100vh;

  @include ekzo-breakpoint(tablet) {
    padding: ekzo-space();
  }
}

  .Wrapper__content {
    min-width: 250px;
    max-width: 1200px;

    margin-left:  auto;
    margin-right: auto;
  }

  // Allows block to standout horizontally, by being wider
  // on screens 1200px+
  .Wrapper__content--extended {
    // Multiply spacing twice, since it should give space for padding * 3
    // from both sides
    max-width: 1200px + ekzo-space(3) * 2;
  }

// ----
// Limit to ~80 characters per line

.Wrapper--readable {
  max-width: 34em;

  margin-left:  auto;
  margin-right: auto;
}
